[submodule "opus-cmake"]
	path = opus-cmake
	url = gogs@eppixx.freeddns.org:eppixx/opus-cmake.git
[submodule "opusfile"]
	path = opusfile
	url = https://github.com/xiph/opusfile
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg
