[submodule "ogg-cmake"]
	path = ogg-cmake
	url = gogs@eppixx.freeddns.org:eppixx/ogg-cmake.git
[submodule "opus-cmake"]
	path = opus-cmake
	url = gogs@eppixx.freeddns.org:eppixx/opus-cmake.git
[submodule "opusfile"]
	path = opusfile
	url = https://github.com/xiph/opusfile
