[submodule "opus-cmake"]
	path = opus-cmake
	url = https://github.com/eppixx/opus-cmake
[submodule "opusfile"]
	path = opusfile
	url = https://github.com/xiph/opusfile
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg
